*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(/src/assets/images/pexels-felixmittermeier-1146134.jpg) top center;
}

.container {
    margin: 40px auto;
    display: flex;
}