*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.card {
    background-color: #FFC045;
    min-height: 500px;
    max-height: 528px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 6px;
}

.card img {
    margin: auto;
    height: 250px;
    width: 250px;
}

.card-body {
    background-color: #4E388E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px 16px 6px 6px;
}

.card-body .card-title {
    font-size: 32px;
    font-weight: 700;
}

.card-body .card-text {
    font-size: 16px;
    font-weight: 400;
}

.card-body a {
    background-color: #FFC045;
    text-align: center;
    color: black;
    font-weight: 700;
    text-decoration: none;
    border-radius: 8px;
    padding: 6px;
}

.card-body a:hover{
    background-color: orange;
    color: black;
}