.card {
    background-color: #FFC045;
    height: 400px;
    width: 400px;
    border-radius: 6px;
}

.card-body {
    background-color: #4E388E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px 16px 6px 6px;
}

.card-body a {
    background-color: #FFC045;
    text-align: center;
    color: black;
    font-weight: 700;
    text-decoration: none;
    border-radius: 8px;
    padding: 6px;
}

.card-body a:hover{
    background-color: orange;
    color: black;
}